img {
    width: 100%;
    filter: brightness(0.8) contrast(1.2);
}

.me {
    width: 350px;
}

.color-img {
    width: 100%;
    height: 100%;
}

.iframe-load {
    width: 100%;
    height: 117%;
}

img,
embed,
object,
video {
    max-width: 100%;
}
