@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'typography';
@import 'blockquotes';
@import 'code';
@import 'test';
@import 'images';

.logo {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
}

.title {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
}

.nav {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
}

body {
    background-color: $background-color;
}

.footer {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
    border-top: solid 1px;
    border-color: $font-color;
}
