.techinfopage {
    display: grid;
    grid-template-columns: 20% auto;
    margin: 0 auto;
    max-width: 67rem;
    gap: 1em 1em;
}

.aside {
    background-color: #deb2b1;
    grid-column: 1/2;
    border: 1px solid $font-color;
    padding: 1em;

    a {
        text-decoration: none;
    }

    li {
        padding: 0.3em;
    }
}

.techtexttitle {
    grid-column: 2/3;
    border-bottom: 1px solid $font-color;
}

.techtext {
    grid-column: 2/3;
    padding: 1em;
}

@media (max-width: 767px) {
    .aside {
        display: none;
    }
}
