html {
    font-size: 100%;
}

p {
    font-size: 1em;
    margin-bottom: $magic-number;
}

body {
    line-height: 1.4;
    background-color: $background-color;
}

.main {
    max-width: 67rem;
    padding: 1.5rem;
    margin: 0 auto;
    background-color: #dedede;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

.logo {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
}

.title {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
}

.nav {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
}

.footer {
    margin: 0 auto;
    max-width: 67rem;
    padding: 1.5rem;
    border-top: solid 1px;
    border-color: $font-color;
    background-color: #dedec8;
}

* {
    color: $font-color;
    font-family: $font-fam-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-fam-title;
}
